.aboutsection {
    padding: 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    &__title {
        font-family: font-file-82132;
        letter-spacing: 0.2em;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: -10px;
        font-size: 7.3rem;
        line-height: 6.7rem;
    }
    &__header {
        margin: 1em 0 5em 10em;
        text-align: left;
        position: relative;
        &__text {
            width: 60vh;
            font-size: 1.2em;
            display: flex;
        }

        &__title {
            font-family: font-file-82132;
            position: absolute;
            bottom: -25rem;
            left: 18vw;
            z-index: -1;
            font-size: 35em;
            color: #978c9221;
        }
    }
}

.section__title {
    margin-bottom: 10px !important;
    font-size: 30px !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 75%;
    margin: auto;
    &__img {
        width: 50%;
        height: 25vw;
        flex: 0 auto;

        img {
            border: 0;
            vertical-align: middle;
            display: inline-block;
            height: 30vw;
            width: -webkit-fill-available;
            margin: 0 2em;
            object-fit: cover;
        }
    }

    &__content {
        width: 50%;

        display: block;
    }
    &__subtitle {
        text-align: left;
        font-size: 28px;
        line-height: 34px;
        font-weight: 500;
    }

    &__description {
        font-size: 18px;
        line-height: 50px;
        margin-bottom: 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}

@media screen and (max-width: 400px) {
    .aboutsection {
        &__title {
            font-size: 3em;
            margin-bottom: 0;
            line-height: 1.5em;
        }
        &__header {
            margin: 0 7em;
            text-align: left;
            position: relative;
            &__text {
                width: fit-content;
            }
            &__title {
                z-index: 1;
                font-size: 5em;
                right: 23vw;
                color: #a8a8a8d2;
                left: -23px;
                bottom: -6em;
            }
        }

        .about {
            display: flex;
            flex-direction: column;
            &__img {
                width: 100%;
                height: fit-content;
                margin: 2em auto;

                img {
                    width: inherit;
                    height: auto;
                    margin: auto;
                }
            }

            &__subtitle {
                font-size: 27px;
                font-weight: bold;
            }
            &__content {
                width: 100%;
                margin: 0 2.3em;
            }
            &__sub {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
