::-webkit-scrollbar {
    display: none;
}

/*general*/

.App {
    background-color: #f8f8f8;
    width: 100vw;
    overflow: hidden;
}
.main {
    width: 100vw;
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}

.contenue {
    margin: 2em auto;
}
@media screen and (max-width: 450px) {
    .contenue {
        width: 80vw;
        height: 100vh;

        margin: 2em auto;
    }
    .card {
        max-width: 75vw;
        max-height: 50vh;
    }

    .sc-bdVaJa {
        margin: 0 auto;
        width: 100px;
    }
}
@media screen and (min-width: 451px) {
    .contenue {
        margin: 5em auto;
        width: 80vw;
        height: 100vh;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 968px) {
}

@media screen and (min-width: 1024px) {
}
