.banner {
    position: fixed;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    height: 3em;
    padding: 0 3em;
    z-index: 2;
    &__text {
        margin: auto 0;

        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
    #banner__contact {
        font-weight: 100;
    }
    &__icon {
        font-size: 24px;
    }
    p:first-child {
        margin-top: auto;
    }
    p:last-child {
        margin-bottom: auto;
    }
}
