.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    margin-top: 2em;

    &__logo {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }
    &__logo:hover {
        color: var(--first-color);
    }
}
@media screen and (max-width: 350px) {
    .nav {
        &__menu {
            padding: 2rem 0.25rem 4rem;
        }
        &__list {
            column-gap: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        top: 0;
        bottom: initial;
        padding: 0 1rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;

        &__menu {
            margin-left: auto;
        }
        & .nav__list {
            display: flex;
            column-gap: 2rem;
        }

        &__icon {
            display: none;
        }
        &__close {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .nav {
        &__menu {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: var(--body-color);
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 1.5rem 1.5rem 0 0;
            transition: 0.3s;
        }
        &__list {
            /*https://developer.mozilla.org/fr/docs/Web/CSS/grid-template-columns*/
            grid-template-columns: repeat(3, 1fr);
            /*https://developer.mozilla.org/fr/docs/Web/CSS/gap*/
        }

        &__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: var(--normal-font-size);
            color: var(--title-color);
            font-weight: var(--font-medium);
        }
        &__link:hover {
            color: var(--first-color);
        }

        &__icon {
            font-size: 2rem;
        }

        &__close {
            position: absolute;
            right: 1.3rem;
            bottom: 0.5rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--first-color-alt);
        }
        &__close:hover {
            color: var(--hue-color);
        }
    }
}
@media screen and (min-width: 1024px) {
    .header {
        padding: 0;
    }
}
