.project {
    display: flex;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    img {
        padding: 0 5em;
    }
    p {
        font-size: 2em;
    }
    h3 {
        font-size: 5em;
    }
    &__content1 {
        display: flex;
        width: 45vw;
        height: 60vh;
        margin: auto 0;
        -ms-flex-pack: start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-flex: 0 auto;
        -o-object-fit: fill;
        background-color: white;
    }
    &__text1 {
        position: relative;
        left: 10em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        margin-right: auto;
        margin-left: auto;
    }
}

.project2 {
    display: flex;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;

    img {
        padding: 0 5em;
    }
    p {
        font-size: 2em;
    }
    h3 {
        font-size: 5em;
    }
    &__content2 {
        display: flex;
        width: 45vw;
        height: 60vh;
        margin: auto 0;
        -ms-flex-pack: start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-flex: 0 auto;
        -o-object-fit: fill;
        background-color: white;
    }
    &__text2 {
        position: relative;
        left: -10em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        margin-right: auto;
        margin-left: auto;
    }
}

.project3 {
    display: flex;
    height: 100vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    clear: right;

    img {
        padding: 0 5em;
    }
    p {
        font-size: 2em;
    }
    h3 {
        font-size: 5em;
    }
    &__content3 {
        display: flex;
        width: 45vw;
        height: 60vh;
        margin: auto 0;
        -ms-flex-pack: start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-flex: 0 auto;
        -o-object-fit: fill;
        background-color: white;
    }
    &__text3 {
        position: relative;
        left: 10em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        margin-right: auto;
        margin-left: auto;
    }
}
