@import "../../node_modules/react-beautiful-horizontal-timeline/card.css";

.qualification {
    width: 100%;
    &__content {
        margin: 1em 0 5em 10em !important;
        text-align: left;
        position: relative;
        h2 {
            font-family: font-file-82132;
            letter-spacing: 0.2em;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: -10px;
            font-size: 7.3rem;
            line-height: 6.7rem;
        }

        &__text {
            width: 60vh;
            font-size: 1.2em;
        }

        &__title {
            font-family: font-file-82132;
            position: absolute;
            bottom: -20rem;
            left: 30vw;
            z-index: -1;
            font-size: 30rem;
            color: #978c9221;
        }
    }
}

.cd-h-timeline__events {
    position: relative;
}

.cd-h-timeline__event {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    opacity: 0;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.cd-h-timeline__event--selected {
    // selected event info
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
}

.cd-h-timeline__event--enter-right,
.cd-h-timeline__event--leave-right {
    // animate event info
    animation-name: cd-enter-right;
}

.cd-h-timeline__event--enter-left,
.cd-h-timeline__event--leave-left {
    // animate event info
    animation-name: cd-enter-left;
}

.cd-h-timeline__event--leave-right,
.cd-h-timeline__event--leave-left {
    animation-direction: reverse;
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
