.skills {
    &__title {
        font-family: font-file-82132;
        position: relative;
    }
    &__content {
        &__title {
            position: absolute;
            font-family: font-file-82132;
            color: #978c9221;
        }
    }
}

@media screen and (max-width: 450px) {
    .skills {
        &__content {
            margin-left: 3.5em;

            &__title {
                font-size: 2em;
                right: 0;
                top: -0.6em;
            }
        }

        &__title {
            font-size: 2.5em;
        }

        &__front {
            height: 20em;
            margin: 2em auto;
            width: fit-content;
            overflow: scroll;
            font-size: 1.3em;
        }
    }
}
@media screen and (min-width: 451px) {
    .skills {
        &__content {
            margin-left: 2em;

            &__title {
                font-size: 3em;
                left: 1em;
                bottom: -0.3em;
            }

            &__text {
                font-size: 1.4em;
            }
        }
        &__front {
            height: fit-content;
            margin: 5em auto;
            width: 15em;
            font-size: 1.7em;

            ul {
                display: flex;
                overflow-x: scroll;
                overflow-x: scroll;
                list-style-type: none;
            }

            li {
                margin: auto 1em;
                width: 15em;
            }
        }

        &__title {
            font-size: 3.5em;
        }
    }
}

@media screen and (min-width: 750px) {
    .skills {
        &__front {
            width: 25em;
        }
    }
}

@media screen and (min-width: 1024px) {
    .skills {
        &__title {
            font-size: 4.5em;
        }

        &__content {
            &__title {
                font-size: 4em;
                top: -0.8em;
                right: -1em;
            }
        }

        &__front {
            margin: 3em auto;
            ul {
                display: flex;
                flex-direction: column;
                height: 30vw;
                font-size: 7vh;

                li {
                    width: 5em;
                    margin: auto;
                    text-align: left;
                }
            }
        }
    }
}
