.skills {
    width: 100%;
    position: relative;
    &__close &__list {
        height: 0;
        overflow: hidden;
    }

    &__content {
        margin: 1em 0 5em 10em !important;
        text-align: left;
        position: relative;

        &__text {
            width: 60vh;
            font-size: 1.2em;
        }

        &__title {
            font-family: font-file-82132;
            position: absolute;
            bottom: -25rem;
            left: 30vw;
            z-index: -1;
            font-size: 40rem;
            color: #978c9221;
        }
    }
    &__open,
    &__list {
        height: max-content;
        margin-bottom: var(--mb-2-5);
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: var(--mb-0-5);
        cursor: pointer;
    }
    &__list {
        row-gap: 1.5rem;
        padding-left: 2.7rem;
        background-color: var(--first-color);
        padding: 0.5em;
        opacity: 85%;
        transition: all 0.4s ease-out;
        opacity: 0;
    }

    &__list__show {
        row-gap: 1.5rem;
        padding-left: 2.7rem;
        background-color: var(--first-color);
        padding: 0.5em;
        opacity: 85%;
        transition: all 0.4s ease-out;
        opacity: 1;
    }
    &__icon {
        margin-right: var(--mb-0-75);
        font-size: 2rem;
        color: var(--first-color);
    }
    &__title {
        font-size: var(--h3-font-size);
    }
    &__titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--mb-0-5);
    }
    &__subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }
    &__arrow {
        margin-right: var(--mb-0-75);
        font-size: 2rem;
        color: var(--first-color);
        margin-left: auto;
        transition: 0.4s;
    }
    &__list {
        row-gap: 1.5rem;
        padding-left: 2.7rem;
        background-color: var(--first-color);
        padding: 0.5em;
        opacity: 85%;
        transition: all 0.4s ease-out;
        opacity: 0;
        height: max-content;
        margin-bottom: var(--mb-2-5);
    }
    &__name {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }
    &__container {
        max-width: 1500px;
    }
    &__contain {
        display: flex;
        margin: auto;
    }
    &__scrollcontainer {
        width: 80vw !important;
        margin: auto !important;
    }
}
@media screen and (min-width: 568px) {
    .skills {
        &__content {
            margin: 0 5em;
        }
    }
}

@media screen and (max-width: 350px) {
    .skills {
        &__title {
            font-size: var(--normal-font-size);
        }
    }
}
